.wrap {
    position: relative;
}

.top_event {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    color: #fff;
    font-size: 0.9rem;
    padding: 0 40px;
    height: 50px;
}

.top_event span {
    color: tomato;
}

.top_event button {
    background-color: tomato;
    color: #fff;
    border-radius: 20px;
    width: 130px;
    height: 30px;
    border: 0;
    cursor: pointer;
}

header {
    position: relative;
    background-color: #fff;
}

header.fix {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid #eaeaea;
    height: 100px;
    z-index: 1;
}

header .top_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 40px;
}

header .top_section .logo {
    background-image: url('../images/sp_29cm.png');
    background-repeat: no-repeat;
    background-position: 0 -90px;
    background-size: 200px 200px;
    width: 120px;
    height: 30px;
}

header .top_section .logo.fix {
    background-image: url('../images/og_image.png');
    background-position: 0 0;
    background-size: 56px 56px;
    width: 56px;
    height: 56px;
    margin-top: 32px;
}

header .top_section .top_menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 380px;
    font-size: 0.7rem;
}

header .top_section .top_menu.fix {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 150px;
    font-size: 0;
}

header .top_section .top_menu a {
    display: inline-block;
    color: #000;
}

header .top_section .top_menu span {
    display: inline-block;
    background-image: url('../images/sp_29cm.png');
    background-repeat: no-repeat;
    background-size: 200px 200px;
    width: 18px;
    height: 18px;
    margin-right: 3px;
    vertical-align: middle;
    border:1px solid red;
}

header .top_section .top_menu a span.icon1 {
    background-position: 0 -1px;
}

header .top_section .top_menu a span.icon2 {
    background-position: -25px 0px;
}

header .top_section .top_menu a span.icon3 {
    background-position: -50px 0px;
}

header .top_section .top_menu a span.icon4 {
    background-position: -75px 0px;
}

header .special_section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 40px;
}

header .special_section .special_menu {
    display: flex;
    width: 1100px;
    justify-content: space-between;
    font-size: 3rem;
    align-items: center;
    border:1px solid red;
}

header .special_section .special_menu.fix {
    display: flex;
    justify-content: flex-start;
    font-size: 1.8rem;
    background-color: #fff;
    position: absolute;
    top: 27px;
    left: 100px;
    margin-left: 20px;
    width: 700px;
    border:1px solid red;
}

header .special_section .special_menu.fix li {
    margin-right: 20px;
}

header .special_section .special_menu li a {
    color: #000;
    font-weight: 900;
    font-family: 'Ubuntu', sans-serif;
}

header .special_section .special_menu li .special_menu29 {
    position: relative;
}

header .special_section .special_menu .dot {
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: tomato;
    border-radius: 50%;
    vertical-align: top;
    position: absolute;
    top: 0;
}

header .special_section .special_menu li a:hover {
    border-bottom: 8px solid #000;
}

header .special_section input {
    background-image: url('../images/sp_29cm.png');
    background-repeat: no-repeat;
    background-size: 200px 200px;
    background-position: -76px -25px;
    width: 47px;
    height: 47px;
    border: 0;
}

header .special_section.fix input {
    background-image: url('../images/sp_29cm.png');
    background-repeat: no-repeat;
    background-size: 200px 200px;
    background-position: -125px 0;
    width: 25px;
    height: 25px;
    border: 0;
    position: absolute;
    right: 50px;
}

header .gnb {
    display: flex;
    padding: 30px 40px;
}

header .gnb.fix {
    position: absolute;
    top: 70px;
    left: 120px;
    font-size: 0.8rem;
    padding: 0;
}

header .gnb .gnb_menu {
    display: flex;
    border-right: 1px solid #d4d4d4;
}

header .gnb .gnb_menu li {
    margin-right: 30px;
    font-weight: 900;
}

header .gnb .gnb_menu li a {
    color: #000;
    letter-spacing: 1px;
    font-family: 'Ubuntu', sans-serif;
}

header .gnb .gnb_menu li a:hover {
    border-bottom: 5px solid #000;
}

header .gnb .gnb_etc {
    display: flex;
    margin-left: 30px;
}

header .gnb .gnb_etc li {
    margin-right: 30px;
    font-style: italic;
    letter-spacing: 1px
}

header .gnb .gnb_etc li a {
    color: #5D5D5D;
    font-weight: 500;
}

header .gnb .gnb_etc li a:hover {
    border-bottom: 5px solid #000;
}

/*  MAIN SECTION */
#main {
    width: 100%;
    top: 0px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #D4D4D4;
    position: relative;
    padding-top: 50px;
}

/* LEFT SECTION  */
#main .main_left {
    width: 42%;
}

#main .main_left li img {
    width: 100%;
    vertical-align: top;
}

/* RIGHT SECTION */
/* RIGHT SECTION TOP */
#main .main_right {
    width: 56%;
    border-left: 1px solid #D4D4D4;
    position: relative;
}

#main .main_right::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 1px;
    background-color: #d4d4d4;
    position: absolute;
    left:50%;
    top:0;
}

#main .main_right .main_r_top {
    position: relative;
}

#main .main_right .main_r_top ul {
    display: flex;
}

#main .main_right .main_r_top ul::before {
    position: absolute;
    left: 50%;
    content: "";
    display: inline-block;
    height: 100%;
    width: 1px;
    background-color: #D4D4D4;
}

#main .main_right .main_r_top ul li {
    width: 50%;
}

#main .main_right .main_r_top img {
    width: 100%;
}

/* RIGHT SECTION BOTTOM */
#main .main_right .main_r_bottom {
    padding: 0 30px;
    position: relative;
}

#main .main_right .main_r_bottom>ul {
    width: 100%;
    margin-right: 10%;
    position: relative;
}

#main .main_right .main_r_bottom>ul>li {
    width: 42%;
    padding-top: 100px;
    position: absolute;
    transition: all .3s linear;
}

#main .main_right .main_r_bottom>ul>li::before {
    content: "";
    display: block;
    width: 70%;
    height: 3px;
    background-color: #000;
    margin-bottom: 30px;
    margin-left:-10px;
}

#main .main_right .main_r_bottom>ul>li:nth-child(1n) {
    top: 0;
}

#main .main_right .main_r_bottom>ul>li:nth-child(2n) {
    top: 0;
    right: 0;
}

#main .main_right .main_r_bottom .right_title_img {
    width: 100%;
    margin-bottom: 10px;
}

#main .main_right .main_r_bottom h5 {
    font-size: 23px;
    font-weight: 600;
    font-family: 'Noto Sans KR', sans-serif;
    margin-bottom: 15px;
}

#main .main_right .main_r_bottom p {
    line-height: 1.5rem;
    font-size: 15px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 100;
    margin-bottom: 15px;
}

#main .main_right .main_r_bottom .item_box a:nth-child(1) {
    width: 18%;
}

#main .main_right .main_r_bottom .item_box {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #d4d4d4;
    margin-bottom: 20px;
}

#main .main_right .main_r_bottom div a:nth-child(2) {
    display: flex;
    width: 64%;
}

#main .main_right .main_r_bottom div img {
    margin-top: 10px;
    width: 52px;
    height: 52px;
}

#main .main_right .main_r_bottom div dl {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 12px;
    line-height: 1.1rem;
    border-right: 1px solid #d4d4d4;
    padding: 10px 0;
    font-weight: 300;
    width: 100%;
}

#main .main_right .main_r_bottom div dl dt {
    font-weight: 500;
}

#main .main_right .main_r_bottom div dl dd:last-child {
    margin-top: 8px;
}

/* HEART BOX */
#main .main_right .main_r_bottom .heart_box {
    width: 20%;
    vertical-align: middle;
    margin: 0 auto;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main .main_right .main_r_bottom .heart_box svg {
    width: 16px;
    margin-top: 20px;
}

#main .main_right .main_r_bottom .heart_box svg path {
    fill-rule: evenodd;
    stroke: black;
    fill: none;
}

#main .main_right .main_r_bottom .heart_box svg.fill path{
    stroke: #ff4800 !important;
    fill: #ff4800 !important;
}

#main .main_right .main_r_bottom .heart_box p {
    font-size: 10px;
    text-align: center;
}

/* More Button */
.more_btn {
    position: relative;
    margin: 50px;
    text-align: center;
}

button.more {
    border: 2px solid #000;
    padding: 0;
    margin: 0;
}

button.more a {
    width: 100%;
    height: 100%;
    padding: 15px 40px;
    display: block;
    background-color:#fff;
}

/* FOOTER */
#footer {
    width: 95%;
    margin: 0 auto;
    font-size: 13px;
    font-family: 'Nanum Gothic', sans-serif;
    position: relative;
}

#footer h3 {
    font-weight: 900;
    font-size: 40px;
    margin: 20px 0;
}

#footer h4 {
    line-height: 20px;
    margin-bottom: 15px;
}

#footer .cs_sns {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 20px 0;
}

#footer .cs_sns button {
    font-size: 13px;
    background-color: #303033;
    border: 0;
    border-radius: 2px;
}

#footer .cs_sns button a {
    padding: 5px 10px;
    display: block;
    color: #fff;
}


#footer .footer_sns ul {
    display: flex;
    justify-content: space-between;
    width: 130px;
}

#footer .footer_sns ul li {
    display: block;
    background-image: url('../images/sp_29cm.png');
    background-repeat: no-repeat;
    background-size: 200px;
    background-position: -150px 0;
    width: 36px;
    height: 36px;
}

#footer .footer_sns ul li:nth-child(2) {
    background-position: -150px -45px;
}

#footer .footer_sns ul li:nth-child(3) {
    background-position: -150px -90px;
}

#footer .footer_sns ul li a {
    display: block;
    width: 100%;
    height: 100%;
}

#footer .notice_sitemap {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #E4E4E4;
    border-bottom: 1px solid #E4E4E4;
    padding: 20px 0;
}

#footer .notice_sitemap li {
    line-height: 24px;
}

#footer .notice_sitemap span {
    font-weight: 900;
    line-height: 24px;
    font-size: 13px;
}

#footer .notice,
#footer .site_map {
    width: 50%;
}

#footer .notice>ul>li::after {
    content: "N";
    background-color: #ff4400;
    display: inline-block;
    padding: 0 5px;
    line-height: 18px;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    margin-left: 10px;
    font-size: 8px;
    box-sizing: border-box;
}

#footer .site_map>ul {
    display: flex;
    justify-content: space-between;
}

#footer .site_map>ul>li {
    width: 25%;
}

#footer .footer_info {
    margin: 20px 0;
}

#footer .footer_info ul {
    margin-bottom: 10px;
}

#footer .footer_info ul:nth-child(1) {
    display: flex;
}

#footer .footer_info ul:nth-child(1) li:nth-child(1) {
    padding-right: 10px;
    border-right: 1px solid #d4d4d4;
    font-weight: 700;
}

#footer .footer_info ul:nth-child(1) li:nth-child(2) {
    padding-left: 10px;
}

#footer .footer_info ul:nth-child(2) li,
#footer .footer_info ul:nth-child(3) li {
    display: inline-block;
    font-size: 10.5px;
    margin-right: 5px;
}

#footer .footer_info button {
    font-size: 10px;
    background-color: #A4A4A4;
    border: 0;
}

#footer .footer_info button a {
    color: #fff;
    padding: 2px;
    display: inline-block;
}